:root
{
    --main-background: lightgrey;
    --header-background: black;
    --header-color: white;
    --screen-background: white;
    --screen-color: black;
    --button-background: white;
    --button-color: black;
    --button-border: grey;
}

*
{
    margin: 0;
    padding:0
}

.frame
{
    background: var(--main-background);
    width: 350px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.calculator-title
{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: var(--header-background);
    color: var(--header-color);
    font-size: 32px;
    text-align: center;
    margin: 10px;
}

.screen
{ 
    margin: 10px;
    background: var(--screen-background);
    border-radius: 15px;
}
.screen-row input
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: 10px;
    border: none;
    background: var(--screen-background);
    color: var(--screen-color);
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}

.button
{
    background: var(--button-background);
    color: var(--button-color);
    margin: 5px;
    width: 45px;
    height: 50px !important;
    border-radius: 15px;
    font-size: 24px !important;
    font-weight: bold !important;
    display: inline-block;
    outline: none;
    border: none;
    text-align: center;
    
}

.button.action-button
{
    -webkit-box-shadow: inset 0px -5px 0px 0px var(--button-border);
    -moz-box-shadow: inset 0px -5px 0px 0px var(--button-border);
    box-shadow: inset 0px -5px 0px 0px var(--button-border);
}

.button.input-button
{
    -webkit-box-shadow: inset 0px -5px 0px 0px var(--button-border);
-moz-box-shadow: inset 0px -5px 0px 0px var(--button-border);
box-shadow: inset 0px -5px 0px 0px var(--button-border);
}

.button-row
{
    padding: 1px 10px;
}
.button-row:last-child
{
    padding-bottom: 10px;
}